i {
    font-style: normal;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.helper::before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.calendar{
    border: 1px solid #ccc;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
}

.calendar .calendar-side{
    float: left;
}

.calendar .calendar-side .cs-item{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}

.calendar .calendar-side .cs-item-active{
    color: #ff0000;
}

.calendar .calendar-box{
    float: left;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
    width: 211px;
}

.calendar .calendar-box .c-header{
    font-size: 12px;
    line-height: 2;
    background-color: #555;
    color: #fff;
}

.calendar .c-pannel{
    display: flex;
}

.calendar .c-pannel .cp-list{
    flex: 1;
}

.calendar .c-pannel .cp-item{
    display: block;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.calendar .c-pannel .cp-prev-year,
.calendar .c-pannel .cp-prev-month{
    float: left;
    width: 25px;
}

.calendar .c-pannel .cp-next-year,
.calendar .c-pannel .cp-next-month{
    float: right;
    width: 25px;
}

.calendar .c-pannel .cp-year,
.calendar .c-pannel .cp-month{
    margin: 0 25px;
}

.calendar .c-header .ch-item{
    float: left;
    width: 30px;
}

.calendar .c-content{
    font-size: 14px;
}

.calendar .c-content .cc-item{
    float: left;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 30px;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
}

.calendar .c-content .cc-item:nth-child(7n){
    border-right: none;
}

.calendar .c-content .cc-month-item{
    float: left;
    width: 25%;
    height: 52px;
    line-height: 52px;
    cursor: pointer;
}

.calendar .c-content .disabled{
    color: #c0c0c0;
}

.calendar .c-content .active{
    color: #07e007;
}

.calendar .c-content .select{
    color: #fff;
    background-color: #ff6600;
}

.calendar .c-content .cur{
    color: #ff0000;
}

.calendar .c-time{
    border-top: 1px solid #ddd;
    padding: 5px 0;
    font-size: 12px;
}

.calendar .c-time input{
    box-sizing: border-box;
    padding-left: 5px;
    width: 30px;
}




